footer{
    background-color: #131326;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 195px;
    margin: 0;
    font-family: "museo-700";
}
ul li .footer{
    list-style: none;
}