.metroid {
  padding: 30px;
  background: #7DB9B6;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "sen3";
  color: white;
  text-align: center;
}
.metroidpolera{
  padding: 30px;
  background: #4D455D;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "sen3";
  color: white;
  text-align: center;
}
.metroidpolera h3 {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 80px;
}
.metroidpolera h2 {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 40px;
  color: #FFF;
}

.metroid h3 {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 80px;
}
.metroid h2 {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 40px;
  color: #FFF;
}

p a {
  text-decoration: none;
  color: #4D455D;
  position: relative;
  bottom: 19px;
  font-size: 40px;
}
.tazas{
  padding: 30px;
  background: #E96479;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "sen3";
  color: white;
  text-align: center;
}
.tazas h3 {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 80px;
}
.tazas h2 {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 40px;
  color: #FFF;
}

.ofertaMetroid {
  color: #4D455D;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.mikasa {
  color: #4D455D;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 40px;
}

.ciego {
  color: #4D455D;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 50px;
  bottom: 19px;
  font-size: 40px;
}

.monkey {
  color:  #4D455D;
  font-size: 40px;
  position: relative;
  bottom: 19px;
  font-size: 40px;
}

article img {
  width: 300px;
}

article {
  background:#F8AF9C;
  border: 3px solid #FFFFFF;
  display: inline-block;
  width: 332px;
  margin: 50px;
}

.logo {
  width: 173px;
  height: 173px;
}

nav {
  background-color: #D9F5E3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 195px;
  margin: 0;
}

ul {
  padding: 80px;
  list-style: none;
  display: contents;
}

li a {
  text-decoration: none;
  color: #4D455D;
  font-family: "sen1";
  font-size: 30px;
}

header{
  background-color: #E96479;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  align-items: flex-end;
  font-family: "sen2";
  color: #FFE3FE;
  height: 820px;
  display: flex;
  padding: 0 32px;
}     

a{
  text-decoration: none;
}

header h2 {
  color: #FFF;
  text-align: center;
  font-size: 100px;
  font-family: Sen;
  font-weight: 700;
  display: flex;
  width: 100%;
  height: 600px;
flex-shrink: 0;
}

.poleras {
  background-color: #4D455D;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.poleras1 {
  display: flex;
  justify-content: center;
}

.poleras h3 {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 40px;
  font-family: "sen2";
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

div img {
  display: flex;
  justify-content: center;
}

.polerasFondo {
  background: rgba(248, 175, 156, 0.70);
  position: relative;
  top: -400px;
}


.majorask h2 {
  color: white;
  padding: 50px;
  font-size: 70px;
  font-family: "sen3";
  display: flex;
  justify-content: center;
}

.majorask h3 {
  color: white;
  text-align: center;
  font-family: "sen3";
}

.majorask p {
  color: white;
  font-size: 20px;
  font-family: "sen1";
  text-align: center;
  margin: 5px;
}

.majorask strong {
  color: #4D455D;
  font-family: "sen2";
  bottom: 50px;
}

.majorask {
  background-color: #E96479;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: #D9F5E3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 195px;
  margin: 0;
  font-family: "museo-700";
}

ul li .footer {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sen1";
  src: url(./assets/fonts/Sen-Regular.ttf);
}
@font-face {
  font-family: "sen2";
  src: url(./assets/fonts/Sen-Bold.ttf);
}
@font-face {
  font-family: "sen3";
  src: url(./assets/fonts/Sen-ExtraBold.ttf);
}
@media (max-width: 1024px) {
  nav {
    background-color: #D9F5E3;
    justify-content: space-around;
    height: 80px;
    width: 100%;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  header {
    background-image: url(./assets/img/back1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  header h2 {
    color: white;
    display: flex;
    font-size: 10vw;
  }
  .metroid {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "p  p  p" "ofertaMetroid ofertaMetroid ofertaMetroid" "ofertaMetroid ofertaMetroid ofertaMetroid" "ofertaMetroid ofertaMetroid ofertaMetroid";
  }
}
@media (max-width: 768px) {
  nav {
    background-color: #D9F5E3;
    justify-content: center;
    height: 80px;
    height: 50px;
    padding: 50px;
  }
  li a {
    font-size: 20px;
    padding: 10px;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  header {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}
@media (max-width: 768px) and (max-width: 425px) {
  nav {
    background-color: #D9F5E3;
    height: 30px;
    height: 30px;
  }
  li a {
    font-size: 15px;
    padding: 5px;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  header {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .h2header {
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 150px;
    margin: -44px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
